<div class="main">
    <div class="meetings-heading">
        <h4>Today - 3 meeting</h4>
    </div>

    <div class="row">
        <div class="col-4 right-border res-center">
            <div class="row">
                <div class="col-4 ">
                    <img src="../../assets/images/profile_pic.jpg" class="meeting-pic">
                </div>
                <div class="col-8">
                        <div class="titles">
                            <h4>Design catchup</h4>
                            <p>adellac@josianne.com</p>
                            <div class="time">
                                <p>10:30 AM</p>
                            </div>
                        </div>
                    </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-6">
                    <div class="members-going">
                        9 Members Going
                    </div>
                    <div class="members-images">
                        <img src="../../assets/images/members.PNG">
                    </div>
                </div>
                <div class="col-6">
                    <div class="pendings">
                            2 Pending
                    </div>
                    <div class="more">
                            +5 more
                    </div>
                       
                    </div>
                  
            </div>
            <hr>
            <div class="details">
                View Details
                </div>
        </div>
        <div class="col-4 right-border res-center">
                <div class="row">
                    <div class="col-4 ">
                        <img src="../../assets/images/profile_pic.jpg" class="meeting-pic">
                    </div>
                    <div class="col-8">
                            <div class="titles">
                                <h4>Design catchup</h4>
                                <p>adellac@josianne.com</p>
                                <div class="time">
                                    <p>10:30 AM</p>
                                </div>
                            </div>
                        </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-6">
                        <div class="members-going">
                            9 Members Going
                        </div>
                        <div class="members-images">
                            <img src="../../assets/images/members.PNG">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="pendings">
                                2 Pending
                        </div>
                        <div class="more">
                                +5 more
                        </div>
                           
                        </div>
                      
                </div>
                <hr>
                <div class="details">
                    View Details
                    </div>
            </div>

            <div class="col-4 right-border-transp res-center">
                    <div class="row">
                        <div class="col-4 ">
                            <img src="../../assets/images/profile_pic.jpg" class="meeting-pic">
                        </div>
                        <div class="col-8">
                                <div class="titles">
                                    <h4>Design catchup</h4>
                                    <p>adellac@josianne.com</p>
                                    <div class="time">
                                        <p>10:30 AM</p>
                                    </div>
                                </div>
                            </div>
                    </div>
          <hr>
                    <div class="row">
                        <div class="col-6">
                            <div class="members-going">
                                9 Members Going
                            </div>
                            <div class="members-images">
                                <img src="../../assets/images/members.PNG">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="pendings">
                                    2 Pending
                            </div>
                            <div class="more">
                                    +5 more
                            </div>
                               
                            </div>
                          
                    </div>
                    <hr>
                    <div class="details">
                        View Details
                        </div>
                </div>
    </div>
</div>