.meeting-pic{
    width: 70px;
    border-radius: 50px;
}
.titles h4, .titles p,{
margin: 0;
}

.titles h4{
    font-size: 22px;
}
.titles p{
    font-size: 14px;
}
.titles .time p{
    font-size: 22px;
}
.members-going{
    font-size: 14px;
    margin: 10px 0px;
}
.members-images img{
    width: 100px;
}
.pendings{
    color: #ff5026;
    font-size: 14px;
    margin: 10px 0px;
}

.more{
    font-size: 18px;
    margin: 12px 0px;
}

.details{
    background: white;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    padding: 8px 1px;
}
.details:hover{
    background: #2290ff;
    color:#fff;
    transition: 0.3s;
}
.right-border{
    border-right: 1px solid #dadada;
}
.right-border-transp{
    border-right: 1px solid transparent;
}