<div class="main">
    <div class="panel-heading">
        <h4>Meetings</h4>
    </div>

    <div class="flex-status shadow-lg">

        <div style="flex-grow: 1">

            <div class="right-data">
                <div class="flex-inner">
                    <div style="">
                        <div class="left-icon">
                            <span>
                                <i class="fa fa-users"></i>
                            </span>
                        </div>
                    </div>
                    <div class="titles border-right">
                        <h4>Number of meeting</h4>
                        <p>
                            <span>36</span> This Month</p>

                    </div>
                </div>

            </div>



        </div>
        <div style="flex-grow: 1">
                <div class="right-data">
                        <div class="flex-inner">
                            <div style="">
                                <div class="left-icon">
                                    <span>
                                        <i class="fa fa-users"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="titles border-right">
                                <h4>Rescheduled meeting</h4>
                                <p>
                                    <span>36</span> This Month</p>
        
                            </div>
                        </div>
        
                    </div>
        </div>
        <div style="flex-grow: 1">
                <div class="right-data">
                        <div class="flex-inner">
                            <div style="">
                                <div class="left-icon">
                                    <span>
                                        <i class="fa fa-users"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="titles">
                                <h4>Cancelation</h4>
                                <p>
                                    <span>36</span> This Month</p>
        
                            </div>
                        </div>
        
                    </div>
        </div>
    </div>
</div>