.flex-status {
    display: flex;
    border-radius: 5px;
    align-items: stretch;
  }
  
  .flex-status > div {
    margin: 10px;
    font-size: 30px;
  }
  .main .panel-heading h4{
margin: 20px 0px;
  }

  .flex-status ul{
      padding: 0;
  }
  .flex-status ul li{
      display: inline-block;
  }

  .flex-inner {
    display: flex;
    align-items: stretch;
  }
  
  .flex-inner  > div {
    font-size: 30px;
  }
  .left-icon{
    background: #ccc;
    height: 60px;
    width: 60px;
    margin: 15px 10px;
    text-align: center;
    border-radius: 50px;
    
  }
  .titles{
    flex-grow: 1;
     padding: 15px;
  }
  .titles span{
      font-size: 22px;
  }
  .left-icon span{
    line-height: 2.7;
    font-size: 22px;
    color: #8a8a8a;
  }
  .right-data p, .right-data h4{
      margin: 0;
  }
  .right-data h4{
      font-size: 20px;
  }
  .right-data p{
      font-size: 14px;
  }

  .border-right{
    border-right: 2px solid #dadada;
  }