.sidenav {
    width: 300px;
    position: absolute;
    z-index: 1;
    top: 100px;
    left: 80px;
    height: calc(100vh - 100px);
    background: #fff;
    overflow-x: hidden;
    padding: 8px 0;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
  }
  
  .sidenav a:hover {
    color: #064579;
  }
  .admin-info ul{
padding: 0px 25px;
  }
  .admin-info ul li{
display: inline-block;
  }

  .profile-img{
    width: 60px;
    border: 1px solid #ccc;
  }

  .welcome{
    padding-left: 15px;
    position: absolute;
    top: 20px;
  }
  .welcome h4, .welcome p {
      margin: 5px;
  }
  .welcome h4{
    font-size: 20px;
    letter-spacing: 1px;
  }
  .welcome p {
    color: #b5b5b5;
    text-transform: capitalize;
    font-size: 14px;
}
.links ul {
padding: 0;
}
.links ul li a span{
    margin-right: 8px;
}
.links ul li{
    padding: 10px 50px;
}
.links ul li:hover{
    border-left: 5px solid cornflowerblue;
    background: #f5faff;
    color: #2290ff;
    transition: 0.3s;
}

.links ul li a{
color: #656565;
font-size: 16px;
}
.links ul li a:hover{
  
    color: #2290ff;
    transition: 0.3s;
}