<div class="sidenav shadow-lg">
    <div class="child_sidebar">
        <div class="admin-info">
            <ul>

                <li>
                    <img src="../../../assets//images/profile_pic.jpg" class="profile-img">
                </li>
                <li>
                    <div class="welcome">
                        <h4>Welcome Essie</h4>
                        <p>Admin Head</p>
                    </div>
                </li>
            </ul>

        </div>
        <div class="links">
            <ul>
                <li>
                    <a href="javascript:void(0)">
                        <span>
                            <i class="fa fa-dashboard"></i>
                        </span> Overview</a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <span>
                            <i class="fa fa-check-square-o"></i>
                        </span> Reservation
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <span>
                            <i class="fa fa-handshake-o"></i>
                        </span> Meeting</a>
                </li>
                <li>
                        <a href="javascript:void(0)">
                            <span>
                                <i class="fa fa-users"></i>
                            </span> Users</a>
                    </li>
                <li>
                    <a href="javascript:void(0)">
                        <span>
                            <i class="fa fa-dashboard"></i>
                        </span> Tickets</a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <span>
                            <i class="fa fa-dashboard"></i>
                        </span> Support</a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <span>
                            <i class="fa fa-dashboard"></i>
                        </span> Profile</a>
                </li>
                <li>
                        <a href="javascript:void(0)">
                            <span>
                                <i class="fa fa-sign-out"></i>
                            </span> Logout</a>
                    </li>
            </ul>
        </div>

    </div>

</div>