.brand-name{
    color: #323c47;
}
.flex-container {
    display: flex;
    align-items: stretch;
    margin: 0px 30px;
  }
  
  .flex-container > div {
    width: 300px;
    margin: 10px;
    line-height: 50px;
    font-size: 30px;
  }
  .flex-grow-1{
    flex-grow: 1;
  }
  .flex-grow-8{
    flex-grow: 8;
  }

.text-center{
text-align: center;
}

//   input box style


  
  .wrapper .search_box{
    width: 100%;
    background: #fff;
    border-radius: 5px;
    // height: 65px;
    display: flex;
    box-shadow: 0 8px 6px -10px #b3c6ff;
  }
  
  .wrapper .search_box .dropdown{
    width: 300px;
    border-right: 2px solid #dde2f1;
    color: #fff;
    background: #2290ff;
    position: relative;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
  }
  
  .wrapper .search_box .dropdown .default_option{
    padding: 0px 70px;
    font-size: 18px;
  }
  
  .wrapper .search_box .dropdown ul{
    position: absolute;
    top: 30px;
    left: 10px;
    background: #2290ff;
    width: 170px;
    border-radius: 0px;
    padding: 20px;
    display: none;
    box-shadow: 8px 8px 6px -10px #b3c6ff;
  }
  
  .wrapper .search_box .dropdown ul.active{
    display: block;
  }
  
  .wrapper .search_box .dropdown ul li{
    padding-bottom: 10px;
    font-size: 20px;
    text-align: center;
  }
  
  .wrapper .search_box .dropdown ul li:last-child{
    padding-bottom: 0;
  }
  
  .wrapper .search_box .dropdown ul li:hover{
    color: #6f768d;
  }
  
  .wrapper .search_box .dropdown:before{
    content: "";
    position: absolute;
    top: 20px;
    right: 16px;
    border: 8px solid;
    border-color: #fff transparent transparent transparent;
  }
  
  .wrapper .search_box .search_field{
    width: 100%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: #e5e5e5;
    position: relative;
  }
  
  .wrapper .search_box .search_field .input{
    width: 100%;
    height: 100%;
    border: 0px;
    font-size: 18px;
    padding-left: 45px;
    background: #e5e5e5;
    padding-right: 38px;
    color: #6f768d;
  }
  
  .wrapper .search_box .search_field .fas{
    position: absolute;
    top: 18px;
    left: 10px;
    font-size: 16px;
    color: #b6b6b6;
    cursor: pointer;
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #9fa3b1;
  }
  ::-moz-placeholder { /* Firefox 19+ */
   color: #9fa3b1;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #9fa3b1;
  }