<div class="flex-container shadow">
    <div class="flex-grow-1 text-center brand-name">Boardash</div>
    <div class="flex-grow-8">

        <div class="wrapper">
            <div class="search_box">
               
                <div class="search_field">
                  <input type="text" class="input" placeholder="Search">
                  <i class="fas fa-search"></i>
              </div>
              <div class="dropdown">
                <div class="default_option">Category</div>  
                <ul>
                  <li>All</li>
                  <li>Recent</li>
                  <li>Popular</li>
                </ul>
            </div>
            </div>
        </div>

    </div>
  </div>
  