/* You can add global styles to this file, and also import other style files */

body{
font-family: 'Baloo Thambi 2', cursive;
color: #323c47;
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.main {
    margin-left: 400px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    margin-top: 20px;
  }
  ul li{
    list-style-type: none;
  }

  .shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}

* {
    box-sizing: border-box;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: block;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
    word-break: break-word;
  }
  /* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
    word-break: break-word;
  }
}

.padding-0{
    padding: 0px;
}

hr{
    margin: 0;
}

@media (min-width: 768px) and (max-width: 1024px) {
  
  }
  
  @media (min-width: 320px) and (max-width: 767px) {
    .flex-container{
        flex-direction: column;
        margin: 0px 0px !important;
    }
.sidenav{
    position: relative !important;
    top: 15px !important;
    left: 2px !important;
    width: 100% !important;
    height: auto !important;
    }
    .main {
        margin-left: 0px;
    }
    .flex-status{
        flex-direction: column;
    }
    .wrapper .search_box .dropdown .default_option{
        padding: 0px 12px !important;
        font-size: 16px !important;
    }
    .flex-container > div {
        width: 95% !important;
      }
      .wrapper .search_box .dropdown{
        width: 220px !important;
      }
      .wrapper .search_box .dropdown:before{
    
        top: 22px !important;
      }
      .border-right{
        border-right: none !important;
      }
      .res-center{
          text-align: center;
      }
  }